<h3 class="subti" ng-click="listarStateVideo()">Cat - {{ item }}</h3>
<hr>
<div style="margin:auto 60px;">
    <div class="panel" >
        <div class="panel-heading">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glypicon-search"></i>Buscar</span>
                <input type="text" ng-model="busca.description" class="form-control" placeholder="Buscar State Video" autofocus>
                <span class="input-group-addon">
                    <button class="btn btn-xs" style="background: rgba(238,238,238,0.5);border: 0px;" data-toggle="modal" data-target="#newStateVideo"> New State Video
                    </button>
                </span>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th width="80%">
                      <a href="" ng-click="ordenarPor('description')">
                        State Video
                      </a>
                      <span class="caret" style="cursor: pointer" ng-click="ordenarPor('-description')"></span>
                    </th>
                    <th>Edit</th>	
                    <th>Delete</th>	
                </tr>
                <tr ng-repeat="stateVideo in stateVideos  | orderBy:ordenSeleccionado | filter: busca ">
                    <td>{{stateVideo.description  | uppercase}}</td>

                    <td><a href="" ng-click="obtenerDatos(stateVideo.idstatevideo)" data-toggle="modal" data-target="#editStateVideo"><span class="glyphicon glyphicon-pencil"></span></a> </td>
                    <td><a href="" ng-click="eliminarStateVideo(stateVideo.idstatevideo)"><span class="glyphicon glyphicon-minus"></span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

   <!-- Modal -->
  <div class="modal fade" id="newStateVideo" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">NEW STATE VIDEO</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="brand"><span class="glyphicon glyphicon-plus"></span> New State Video</label>
              <input type="text" class="form-control" id="brand" placeholder="State Video" ng-model="stateVideo">
            </div>
              
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
            <button type="submit" class="btn btn-success pull-left" ng-click="RegistrarStateVideo()" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Save</button>
        </div>
      </div>
      
    </div>
  </div>


  <!-- Modal editStateVideo-->
  <div class="modal fade" id="editStateVideo" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">EDIT STATE VIDEO</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="stateVideo"><span class="glyphicon glyphicon-plus"  ></span> Edit State Video</label>
              <input type="hidden" ng-model="codigoStateVideo">
              <input type="text" class="form-control" ng-model="stateVideoEdit"  required focus>
            </div>
              
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
            <button type="submit" class="btn btn-success pull-left" ng-click="EditarStateVideo()" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Edit</button>
        </div>
      </div>
    </div>
  </div>
